:root {
  --main-bg-color: #2c3e50;
  --primary-color: #1a5276;
  --accent-color: #e67e22;
  --text-color: #bdc3c7;
  --link-color: #3498db;
}

/* Reset CSS for body, header, and footer */
body, header, footer {
  margin: 0;
  color: white;
}

/* Footer Styles */
footer {
  width: 25%;
  border-radius: 1em 1em 0 0;
}

/* Header Styles */
header {
  width: 99.9%;
}

/* Common Styles for Header and Footer */
header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0.1em solid black;
  background-color: none;
  animation: breathingBackground 4s infinite alternate;
}

/* Animation for Header and Footer */
@keyframes breathingBackground {
  0% {
    box-shadow: 0 0 1em rgba(0, 255, 150, 0.5); /* Initial glow */
  }
  100% {
    box-shadow: 0 0 2em rgba(0, 255, 150, 1); /* Increased glow */
  }
}

/* Menu Item Flash Animation */
.menu-item.flash {
  animation: outlineFlashing 5s infinite;
  outline-width: 0.05em;
  outline-style: solid;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Outline Flashing Animation */
@keyframes outlineFlashing {
  0% {
    outline-color: transparent;
  }
  50% {
    outline-color: rgba(0, 255, 150, 1);
  }
  100% {
    outline-color: transparent;
  }
}

/* Top Menu Styles */
.top-menu {
  display: flex;
  margin-left: auto;
  margin-top: 1.5em;
  margin-right: 1.5em;
  align-items: center;
}

/* Common Styles for Menu Items */
.menu-item {
  margin: 0 0.5em;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  transition: color 0.3s, font-size 0.3s;
}

.menu-item:hover {
  color: white;
  font-size: 1.9rem;
}

/* Body Styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: var(--main-bg-color);
  background-image: url(./images/background.jpg);
  padding: 0;
}

/* Header 1 and 2 Styles */
h1 { font-size: 2rem; }
h2 { font-size: 1.25rem; }

/* Big Title Styles */
.big-title { font-size: 3rem; font-weight: bold; padding: 0; }

/* Big Text Styles */
.big-text { font-size: 1.7rem; }

/* Big Letter Styles */
.big-letter { font-size: 2rem; font-weight: bold; }

/* Link Styles */
.link, .custom-link, .archives-item, .sublink {
  font-size: 1.4rem;
  cursor: pointer;
  margin-bottom: 0.25em;
  padding: 0.5em;
  transition: color 0.3s;
}

.link, .archives-item {
  color: var(--text-color);
  margin: 0.375em;
  padding: 0.5em;
  border: 0.1em solid #2c3e50;
  border-radius: 0.25em;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Archives Item Hover Styles */
.archives-item:hover, .archives-item:hover::before {
  color: white;
  background-color: var(--main-bg-color);
  border-radius: 0.25em;
  opacity: 1;
  border-color: #3498db;
  box-shadow: 0 0 1em rgba(52, 152, 219, 0.7);
}

/* Sublink Styles */
.sublink {
  color: white;
  text-decoration: none;
}

.sublink:hover {
  color: var(--text-color);
}

/* Custom Link Styles */
.custom-link {
  color: var(--link-color);
  text-decoration: none;
}

.custom-link:hover {
  color: rgba(0, 255, 150, 1);
}

/* SubPage and Main Page Div Styles */
#subPage, #mainPage > div {
  margin: 2em auto;
  text-align: center;
  background-color: rgba(26, 82, 118, 0.75);
  padding: 0.5em;
  max-width: 100%;
  border-radius: 0.25em;
}

/* Grey Text Styles */
.grey { color: var(--text-color); }

/* Hidden Element Styles */
.hidden { display: none; }

/* Subpage Styles */
.subpage {
  margin: 2em auto;
  text-align: center;
  padding: 1.5em;
  max-width: 100%;
}

.subpage:not(.hidden) { display: block; }

/* List Styles */
ul, .sub-master-list {
  list-style-type: none;
  padding: 0;
}

/* Sub-Master List Styles */
.sub-master-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subpage li {
  margin-bottom: 2em;
}

/* Participation Subpage Styles */
#ParticipationSubpage {
  text-align: center;
}

#ParticipationSubpage .content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#ParticipationSubpage .text-block {
  flex: 1;
  text-align: justify;
  font-size: 1.4rem;
  margin-right: 0em;
}

#ParticipationSubpage .image-block {
  flex: 1;
  text-align: center;
}

#ParticipationSubpage .image-block img {
  max-width: 100%;
  height: auto;
}

/* Email Link Styles */
.email-link {
  color: var(--link-color);
  text-decoration: none;
  font-size: 2rem;
}

.email-link:hover {
  color: rgba(0, 255, 150, 1);
}

/* Special Text Styles */
#ParticipationSubpage .text-block span.special-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--accent-color);
}